<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="../static/Login2.css" />
</head>
<body>
    <div class="container">
        <h1>用户登录</h1>
        <form action="/Login">
            <div class="form-control">
                <input type="text" required name="uname">
                <label>
                    用户名：
                </label>
            </div>
            <div class="form-control">
                <input type="password" required name="upwd">
                <label>
                    密码：
                </label>
            </div>
            <button class="btn" type="submit">登录</button>
            <p class="text">没有账号? <a href="/Uregister">点此注册</a> </p>
        </form>
    </div>
    <script src="../static/Login1.js"></script>
</body>
</html>