<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/Login2.css" />
</head>
<body>
    <div class="container">
        <h1>Please Login</h1>
        <form action="/Login">
            <div class="form-control">
                <input type="text" required name="uname">
                <label>
                    ID
                </label>
            </div>
            <div class="form-control">
                <input type="password" required name="upwd">
                <label>Password</label>
            </div>
            <button class="btn" type="submit">Login</button>
            <p class="text">Don't have an account? <a href="/Uregister">Register</a> </p>
        </form>
    </div>

    <script src="../static/Login1.js"></script>
</body>
</html>