<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserRegister</title>
    <style>
body {
    background-color: lightblue;
}
    </style>
    <link rel="stylesheet" href="../static/Login2.css" />
</head>
<body>
<div align="center">


    <div class="container">
        <h1>Please Register</h1>
        <form action="/UserRegister">
            <div class="form-control">
                <input type="text" required name="uname">
                <label>
                    Uname:
                </label>
            </div>
            <div class="form-control">
                <input type="password" required name="upwd">
                <label>Password</label>
            </div>
            <button class="btn" type="submit">Register</button>
            <p class="text"> have an account? <a href="/userLogin">Login</a> </p>
        </form>
    </div>
</div>
<script src="../static/Login1.js"></script>
</body>
</html>
